
.nav-link{
    
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    margin-left: 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}
.nav-logo {
    
    width: 146px;
    height: 70px;
    left: 24px;
    top: 24px;
    margin-right: auto;
    color: #E5E5E5;

}

.navbar-dark{
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(./download.png); 
}

@media only screen and (max-width:1367px){
    .nav-link{
        margin-left: 2vw;
    }
}
@media only screen and (max-width: 969px){
    .nav-link{
        margin-left: 1px;
    }
}